margin: 0

border-box;

3

tody display: flex;

justify-content: center;

align-items: center;

sin-height: 380vn

backgrounds whitespoke

font-family: Verdana, Gems, Tans-serif;

height: 100%;

wulth: 100%;

3

test-altom center;

funt-size: 1.5em

margin: 10px;

with 100%

height: 30px display: flex;

justify-content surgin-top: ра

buttar

position: absolute Worth: 15p

height: inherit

cxlers unite

font-size: 1.Zem

Bareer-rattus pe suttines nenes

cursors suinter bex-shadow: 1px 4px gray

border: 2px solid #944581

hunt-size: 1.2em;

margin-left: 200p backgrounit: 58:

margin-right: -200 backgrounits we